@page "/otro-contador"

<h3>OtroContador</h3>
<button @onclick="ContadorClick">Has hecho click @contador veces</button>

@code{
    private int contador = 0;

    private void ContadorClick()
    {
        contador++;
    }
}